<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta information -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="navsection">
        <div class="title">
            <h1>MS Computer Embroidery</h1>
        </div>
        <div class="menu">
            <a href="designs">Designs</a>
            <a href="login/signup"><b>Login/Signup</b></a>
        </div>
        <div class="user">
            <h3>User</h4>
        </div>
    </div>
</body>
</html>
